.pageMain {
    min-height: 50vh;
    width: 100vw;
    background-image: url('/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 1rem;
    color: white;
  }
  